<!DOCTYPE html>
<html>
<head>
    <title>Info - Moje Flask Aplikace</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f0f0f0;
        }
        .container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        nav {
            margin-bottom: 20px;
        }
        nav a {
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
        <div class="container">
        <a href="/" class="back-button">← zpet na hlavni stranku</a>
        <nav>
            <a href="/">domu</a>
            <a href="/cart">kosik</a>
            <a href="/info">info</a>
        </nav>
        <h1>informace o aplikaci</h1>
        <p>Tato aplikace je postavená na:</p>
        <ul>
            <li>Python Flask</li>
            <li>Docker</li>
            <li>HTML & CSS</li>
            <li>TO JE NECO CO </li>
        </ul>
    </div>
</body>
</html>
